In [1]:
import os
import pandas as pd

In [6]:
filename = os.getcwd() + '/manual_annotated_feb_ig_subset.tsv'
data = pd.read_csv(filename, sep='\t')
data.head()

     Token Assigned Predicted
0     What        O         O
1       an        O         O
2  awesome        O         O
3      day        O         O
4     with        O         O

In [7]:
words = []
new_tags = []
for i in range(len(data)):
    words.append(data.iloc[i]['Token'])
    new_tags.append(data.iloc[i]['Assigned'])

eval_set = list(zip(words, new_tags))